*{
    font-family: 'DotGothic16', sans-serif;
}

body {
    background-color: #c5c5c5;
}
form{
    width: 50%;
    margin-left: 25%;
}
button{
    background-color: #a7a4e0;
    border-radius: 5px;
}
.box {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    height: 60px;
    background-color: #a7a4e0;
}
h1 {
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 2.5rem;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0px;
    background-color: #514689;
    color: #c5c5c5;
    height: 75%;
}
.carousel-item{
    margin-top: 90px;
}
.carousel{
    width: 33%;
    margin-left: 33%;
    height: 350px;
    background-color: #a7a4e0;
}
.dropdown-menu{
    background-color: #a7a4e0;
}
.dropdown-item{
    background-color: #a7a4e0;
}
.container{
    margin-top: 25px;
}
.carousel-item{
    margin-left: 37%;
}
.footer {
    padding: 40px 0;
    background-color: #514689;
    color: #4b4c4d;
}
  
.footer .social {
    text-align: center;
    padding-bottom: 25px;
}
.footer .social > a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: 0 8px;
    color: inherit;
    opacity: 0.75;
    background-color: #c5c5c5;
}
.enlaceTienda{
    color: rgb(61, 61, 61);
}
.footer .social > a:hover {
    opacity: 0.9;
}
.box:hover{
    background-color: #514689;
}
.enlaceTienda:hover{
    color: white;
}
.menuDesplegable{
    visibility: hidden;
}
.menuNormal{
    visibility: visible;
}
@media(max-width:2467px){
    .carousel{
        visibility: hidden;
    }
}
@media(max-width:777px){
    .menuNormal{
        visibility: collapse;
       
    }
    .menuDesplegable{
        visibility: visible;
        background-color: #514689;
        width: 80px;
        margin-left: 20px;
    }
}
@media (max-width:500px) {
    .itemCompra{
        margin: 12.5%;
        width: 75%;
    }
    
}
@media (max-width:517px){
    .primerIcono {
        visibility: hidden;
    }
}
